body {
    background-color: black;
}

header {
    border-bottom: 1px solid black;
    color: white;
    text-align: center;
    background-color:black;
    font-weight: bold;
    background-image: linear-gradient(rgb(0, 44, 0), green);
    margin-bottom: 40px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    color: white
}

h2 {
    font-weight: bold;    
}

.search-container {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    margin: 5px;
    padding-right: 10px;
    list-style-type: none;
}

#searchBar {
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px;
    margin-bottom: 10px;
}

#search-button {
    background-color:white;
    color: black;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: -1px;
    margin-right: -1px;
    background-color: green;
}

#deleteBtn {
    background-color:white;
    color: black;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: -1px;
    margin-right: -1px;
    background-color: crimson;
}

.button {
    margin: 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: -1px;
    margin-right: -1px;
    border:black;
    background-color: rgb(172, 169, 169);

}

#five-day-forecast-container {
    display: flex;
}

.current-city-container {
    padding-left: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-image: linear-gradient(rgb(0, 44, 0), green);
}

.day-card {
    padding: 20px;
    border: 1px solid black;
    margin: 5px;
    list-style-type: none;
    background-image: linear-gradient(rgb(0, 44, 0), green);
    color: white;
    font-size: medium;

}

h4 {
    font-size:medium;
}

